.pushbutton {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 40% 0 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pushbutton_gradient_blue {
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.pushbutton_gradient_red {
    background-image: linear-gradient(to right, #ef9e9e 0%, #f03030 51%, #ef9e9e 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.pushbutton:hover {
    background-position: right center;
}